<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>CVE Alerts for <%= @user.name %></h1>
    <ul>
      <% @cve_list.each do |cve| %>
        <li><%= cve %></li>
      <% end %>
    </ul>
    <p>Stay safe!</p>
  </body>
</html>