.circular-progress-container {
    width: 100px;
    height: 100px;
  }
  
  .circular-progress {
    display: inline-block;
  }
  
  /* Low severity style */
  .low-severity .CircularProgressbar-path {
    stroke: rgb(106, 168, 106) !important; /* Green color */
  }
  
  /* Medium severity style */
  .medium-severity .CircularProgressbar-path {
    stroke: rgb(230, 166, 45) !important; /* Orange color */
  }
  
  /* High severity style */
  .high-severity .CircularProgressbar-path {
    stroke: rgb(216, 95, 95) !important; /* Red color */
  }
  
  /* Critical severity style */
  .critical-severity .CircularProgressbar-path {
    stroke: rgb(133, 57, 57) !important; /* Dark red color */
  }
  
  /* N/A style */
  .n-a .CircularProgressbar-path {
    stroke: lightgray !important; /* Light gray color */
  }
  