.circular-progress-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto; /* Adjust width as needed */
}

.circular-progress {
  position: relative;
  width: 100px; /* Set specific width */
  height: 100px; /* Set specific height */
}

.severity-text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1em;
  font-weight: 600;
  flex-direction: column; /* Stack the score and text vertically */
}

.severity-value {
  font-size: 1.5em;
  margin-bottom: 0.2em;
}


.low-severity .severity-text {
  color: rgb(102, 206, 102);
}

.medium-severity .severity-text {
  color: rgb(230, 166, 45);
}

.high-severity .severity-text {
  color: rgb(233, 45, 27);
}

.critical-severity .severity-text {
  color: rgb(139, 0, 0);
}

.na-value {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-size: 1em;
  color: #888;
  border: 2px solid #ccc;
  border-radius: 50%;
}
