.duke-banner {
  background-color: #012169;
  color: #ffffff;
  padding: 10px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Space out the content */
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box; /* Ensure padding is included in width */
}

.navbar-container {
  display: flex;
  align-items: center;
  margin-right: 10px; /* Space between navbar and title */
}

.title-container {
  display: flex;
  align-items: center;
  margin-left: 20px; /* Space from left edge */
  flex-grow: 1; /* Allow the title to take up remaining space */
}

.duke-logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit; /* Inherit color from parent */
}

.duke-logo {
  font-family: 'Garamond', serif;
  font-size: 4em;
  margin-right: 10px;
}

.duke-entity-name {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5em;
  font-weight: 500;
}

.profile-picture-container {
  display: flex;
  align-items: center;
  margin-right: 50px; 
}

.profile-picture {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-placeholder {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #012169;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  font-weight: bold;
}
