.circular-progress-container {
  position: fixed;
  width: 300px;
  height: 300px;
  right: 400px;
  top: 70%;
  transform: translateY(-200%);
}

.circular-progress {
  position: absolute;
  right: 0;
  top: 0;
}
.severity-text {
  font-size: 1.5em;
}

.severity-text-box {
  border-radius: 10px;
  padding: 4px 8px;
  font-size: 0.8em;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 6em;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.low-severity .CircularProgressbar-path {
  stroke: rgb(106, 168, 106) !important;
}

.medium-severity .CircularProgressbar-path {
  stroke: orange !important;
}

.high-severity .CircularProgressbar-path {
  stroke: red !important;
}

.critical-severity .CircularProgressbar-path {
  stroke: darkred !important;
}

.n-a .CircularProgressbar-path {
  stroke: lightgray !important;
}

@media (min-width: 400px) {
  .circular-progress-container {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 5px;
  }

  .circular-progress {
    margin-top: 5px;
  }
}
