.circular-progress-container2 {
  position: fixed;
  width: 300px;
  height: 300px;
  right: 400px;
  top: 70%;
  transform: translateY(-200%);
}

.circular-progress2 {
  position: absolute;
  right: 0;
  top: 0;
}

.severity-text2 {
  font-size: 1.5em; /* Smaller font size */
}

.severity-text-box2 {
  border-radius: 10px;
  padding: 4px 8px;
  font-size: 0.8em;
  background-color: rgba(255, 255, 255, 0.5); /* Transparent background */
  position: absolute;
  bottom: 6em;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Medium severity style */
.medium-severity .CircularProgressbar-path {
  stroke: rgb(230, 166, 45) !important; /* Orange color */
}

/* N/A style */
.n-a .CircularProgressbar-path {
  stroke: lightgray !important; /* Light gray color */
}

/* Media query for responsiveness */
@media (min-width: 400px) {
  .circular-progress-container2 {
    margin-top: 10px; /* Reduce margin for larger screens */
    padding-left: 5px; /* Adjust padding-left for smaller screens */
    padding-right: 5px; /* Add padding-right for consistency */
  }

  .circular-progress2 {
    margin-top: 5px; /* Reduce margin for larger screens */
  }
}
