/* Update the circular progress container styles */
.circular-progress-container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px; /* Set a fixed width for the container */
  position: relative; /* Ensure positioning context for the severity text */
}

/* Update the circular progress styles */
.circular-progress1 {
  position: relative; /* Ensure positioning context for the severity text */
}

/* Update the severity text box styles */
.severity-text-box1 {
  position: absolute;
  bottom: 50px; /* Adjust position to be below the numeric value */
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  padding: 8px 16px;
  font-size: 0.8em;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.severity-text1 {
  font-weight: bold; /* Ensure the severity text is bold */
}

/* Add fullscreen styles */
@media (min-width: 1200px) {
  .content-wrapper {
    display: flex;
    justify-content: space-between; /* Ensure space between content and circular progress */
    align-items: flex-start; /* Align items at the start */
  }

  .circular-progress-container1 {
    margin-left: -350%; /* Adjust the margin-left value to reduce the white space to the right */
    margin-top: 7%;

    .text-content h1 {
      font-size: 2rem; /* Adjust the font size as needed */
    }
  
    .text-content h2 {
      font-size: 2rem; /* Adjust the font size as needed */
    }
  
    .text-content p {
      font-size: 1.2rem; /* Adjust the font size as needed */
    }
    .text-content {
      max-width: 50%; /* Adjust the max-width as needed */
    }
  }
}
