.cve-page-container {
    font-family: 'Open Sans', sans-serif;
    background-color: #F7FAFD;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    
}

.cve-content-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 100px; /* Add padding to prevent header overlap */
    overflow-x: hidden;
    flex-grow: 1; /* Allow this to grow to fill available space */
    margin-bottom: 100px; /* Add margin at the bottom for footer */
}

.cve-content-container {
    flex: 1;
    padding: 0 100px; /* Add padding to the left and right */
}

.cve-text-content h1 {
    flex: 1;
    padding-top: 70px;
    padding-bottom: 50px;
    color: #012169;
    font-weight: bold;
    font-size: 20px;
}

.title-with-image {
    display: flex;
    align-items: center; /* Align items vertically in flex container */
    margin-bottom: 20px; /* Adjust margin as needed */
}
  
.vendor-logo {
    width: 150px; /* Adjust the width of the vendor logo */
    height: auto; /* Adjust spacing between logo and title */
    margin-top: 40px;
    padding-left: 20px;
}

.cve-text-content h2 {
    color: #012169;
    font-size: 20px;
    font-family: 'Open Sans';
}

.cve-text-content h4 {
    color: #012169;
    font-size: 20px;
    font-family: 'Open Sans';
}

.cve-circular-progress-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 40px;
    padding-right: 40px;
    margin-left: 10px;
}

.remediation-container {
    background-color: #F1EDEA;
    padding: 1px; /* Reduce padding to make the box less tall */
    border-radius: 20px; /* Increase border-radius for more rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
}

.remediation-header {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: -10px; /* Add margin to separate from content */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.remediation-header h4 {
    margin: 0;
}

.remediation-content p {
    font-size: 18px;
    line-height: 1.6; /* Adjust line height for better spacing */
    margin: 0 0 10px; /* Adjust margin for better spacing */
    padding: 0 10px; /* Add padding for better readability */
    box-sizing: border-box; /* Ensure padding is included in total width and height */
    text-align: left; /* Change to left-align if justified spacing is too spread out */
}

.remediation-content a {
    color: #007bff; /* Adjust link color as needed */
    text-decoration: none;
    padding: 0 10px; /* Add padding for better readability */
}

.remediation-content a:hover {
    text-decoration: underline; /* Add underline on hover */
}


p {
    font-size: 18px;
    line-height: 1.8;
    margin: 0 0 20px; /* Adjust margin for spacing */
    padding: 0 10px; /* Add padding for better readability */
    box-sizing: border-box; /* Include padding in the element's total width and height */
    text-align: justify;
}

/* Add fullscreen styles */
@media (min-width: 1200px) {
    .cve-content-wrapper {
        flex-direction: row;
        justify-content: space-between; /* Ensure space between content and circular progress */
        align-items: flex-start; /* Align items at the start */
    }

    .cve-text-content {
        flex: 3;
        padding-right: 40px; /* Add padding to create space between text and circular progress */
    }

    .cve-circular-progress-container {
        flex: 1;
        justify-content: flex-end; /* Align to the right */
        align-items: flex-start; /* Align to the top */
    }

    .cve-text-content h1 {
        font-size: 2rem; /* Adjust the font size as needed */
    }

    .cve-text-content h2 {
        font-size: 2rem; /* Adjust the font size as needed */
    }

    .cve-text-content p {
        font-size: 1.2rem; /* Adjust the font size as needed */
    }
}

.edit-button {
    background-color: #012169;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: -30px;
    margin-left: 170px;
    padding-top: 0.5%;
    border-radius: 5px;
}

.edit-button:hover {
    background-color: #0056b3;
}

.footer {
    margin-top: auto; /* Push the footer to the bottom of the page */
}

  

