body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff9a;
  color: #333;
}
 
.Home-header {
  background-color: #ffffff9a;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
 
.Duke-logo {
  max-width: 125px;
  position: absolute;
  left: 50px;
  top: 10px;
}
 
.title1{
  font-size: 4em;
  font-weight: bold;
  font-family: "Open Sans";
  margin: 20px 0 10px;
  position: absolute;
  left: 50px;
  top: 95px;
 
}
.title2{
  font-size: 4em;
  font-weight: bold;
  font-family: "Open Sans";
  margin: 20px 0 20px;
  position: absolute;
  left: 50px;
  top: 175px;
}
.subtitle1 {
  color: #110f0fc0;
  font-size: 1.5em;
  font-family: "Mulish";
  margin: 10px 0 20px;
  position: absolute;
  left: 50px;
  top: 300px;
}
.subtitle2 {
  color: #110f0fc0;
  font-size: 1.5em;
  font-family: "Mulish";
  margin: 10px 0 20px;
  position: absolute;
  left: 50px;
  top: 335px;
}
.subtitle3 {
  color: #000000c0;
  font-size: 2em;
  font-weight: bold;
  font-family: "Cormorant Garamond";
  margin: 10px 0 20px;
  position: absolute;
  left: 50px;
  top: 450px;
}
 
 
 
.button {
  background-color: #012169;
  color: #ffffff9a;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}
 
.button:hover {
  background-color: #012169;
}
 
.content {
  text-align: center;
  margin: 525px 0;
}
 
 
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
 
.card {
  background-color: #ffffff9a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  flex: 1;
  text-align: center;
}
 
.card .score {
  font-size: 2em;
  margin-bottom: 10px;
}
 
.card .notification-name {
  font-weight: bold;
  margin-bottom: 10px;
}
 
.card p {
  color: #666;
  margin-bottom: 20px;
}
 
.card .learn-more {
  color: #012169;
  text-decoration: none;
}
 
.card .learn-more:hover {
  text-decoration: underline;
}
 
 
 
.view {
  display: inline-block;
  padding: 15px 15px;
  font-size: 1em;
  color: #ffffff;
  background-color: #012169;
  border-radius: 10px;
  text-decoration: none;
}