
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F7FAFD;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #012169;
  font-size: 30px;
  margin: 0 0 20px 0; /* Add margin bottom for spacing */
  font-weight: bold; /* Make headers bold */
}

h2, h3, h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #012169;
  font-size: 20px;
  margin: 0 0 20px 0; /* Add margin bottom for spacing */
  font-weight: bold; /* Make headers bold */
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 100%;
  max-width: 800px; /* Set a fixed max-width */
  padding: 40px;
  margin-left: 10px; /* Push content more to the left */
  box-sizing: border-box;
}

.remediation-container {
  background-color: #F1EDEA;
  padding: 1px; /* Reduce padding to make the box less tall */
  border-radius: 20px; /* Increase border-radius for more rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
}

.remediation-header {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: -10px; /* Add margin to separate from content */
}

p{
  font-size: 15px;
  line-height: 1.8;
  margin: 0 0 20px; /* Adjust margin for spacing */
  padding: 0 10px; /* Add padding for better readability */
  box-sizing: border-box; /* Include padding in the element's total width and height */
}




.content-wrapper {
  display: flex;
  flex-direction: row;
  padding: 20px;
  overflow-x: hidden;
}

.text-content {
  flex: 1;
  padding-right: 40px; /* Add padding to create space between text and circular progress */
}

.text-content {
  flex: 1;
  max-width: 600px; /* Adjust this value as needed */
  padding-right: 20px; /* Adjust padding to create space between text and circular progress */
}

/* Update the circular progress container styles */
.circular-progress-container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px; /* Set a fixed width for the container */
  position: relative; /* Ensure positioning context for the severity text */
}

/* Update the circular progress styles */
.circular-progress1 {
  position: relative; /* Ensure positioning context for the severity text */
}

/* Update the severity text box styles */
.severity-text-box1 {
  position: absolute;
  bottom: 50px; /* Adjust position to be below the numeric value */
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  padding: 8px 16px;
  font-size: 0.8em;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.severity-text1 {
  font-weight: bold; /* Ensure the severity text is bold */
}

/* Add fullscreen styles */
@media (min-width: 1200px) {
  .content-wrapper {
    display: flex;
    justify-content: space-between; /* Ensure space between content and circular progress */
    align-items: flex-start; /* Align items at the start */
  }

  .circular-progress-container1 {
    margin-left: -350%; /* Adjust the margin-left value to reduce the white space to the right */
    margin-top: 7%;

  }

  .text-content h1 {
    font-size: 2rem; /* Adjust the font size as needed */
  }

  .text-content h2 {
    font-size: 2rem; /* Adjust the font size as needed */
  }

  .text-content p {
    font-size: 1.2rem; /* Adjust the font size as needed */
  }
  .text-content {
    max-width: 50%; /* Adjust the max-width as needed */
  }
}



.low-severity .severity-text-box1 {
  border-color: rgb(106, 168, 106);
}

.medium-severity .severity-text-box1 {
  border-color: rgb(230, 166, 45);
}

.high-severity .severity-text-box1 {
  border-color: rgb(230, 166, 45);
}

.critical-severity .severity-text-box1 {
  border-color: darkred;
}

.footer {
  background-color: #012169;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.footer-container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-col {
  flex: 1;
  margin: 10px;
}

.footer-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.footer-address, .footer-phone {
  margin-bottom: 10px;
}

.footer-phone a {
  color: #ffcc00;
  text-decoration: none;
}

.footer-button {
  display: inline-block;
  background-color: #d9534f;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  border-top: 1px solid #fff;
  padding-top: 20px;
}

.footer-logo {
  font-size: 1.5rem;
}

.footer-links {
  display: flex;
  gap: 10px;
}

.footer-link {
  color: #ffcc00;
  text-decoration: none;
}

.footer-live-chat {
  background-color: #d9534f;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

