body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F7FAFD;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start; /* Align content to the top left */
  align-items: flex-start; /* Align content to the top left */
  min-height: 100vh;
  padding: 10px;
  position: relative; /* Needed for absolute positioning of the circle */
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #012169; /* Electric blue color */
  font-size: 34px; /* Smaller font size */
  margin: 0 0 20px 0; /* Add margin bottom for spacing */
  font-weight: bold; /* Make headers bold */
}

h2, h3, h4, h5, h6 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #012169; /* Electric blue color */
  font-size: 25px; /* Smaller font size */
  margin: 0 0 20px 0; /* Add margin bottom for spacing */
  font-weight: bold; /* Make headers bold */
}

p {
  font-size: 18px;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 100%;
  max-width: 800px; /* Set a fixed max-width */
  padding: 40px;
  margin-left: 10px; 
}
.remediation-container {
  border: 1px solid #F1EDEA; /* Set the border color to match the background color */
  border-radius: 8px; /* Add some border radius for rounded corners */
  padding: 20px; /* Add some padding inside the container */
  margin-top: 20px; /* Add some margin at the top */
  background-color: #F1EDEA; /* Set the background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadowing */
}


.remediation-header {
  margin-bottom: 10px; /* Add margin at the bottom of the header */
}





.remediation-content {
  text-align: justify; /* Justify the text inside the container */
}



  